<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidx.view">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <!--扫码-->
        <activity
            android:name=".scan.ScanActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>