<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.androidx.briefness">

    <application
        android:name=".base.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reduce"
        tools:ignore="AllowBackup"
        tools:replace="android:allowBackup">
        <activity android:name=".base.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--Toast功能演示-->
        <activity android:name=".homepage.activity.MsgShowActivity" />
        <!--dialog弹窗演示-->
        <activity
            android:name=".homepage.activity.DialogActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <!--图表功能演示-->
        <activity android:name=".homepage.activity.EchartsActivity" />
        <!--Tab导航栏功能演示-->
        <activity android:name=".homepage.activity.TabActivity" />
        <!--网络请求接口演示-->
        <activity android:name=".homepage.activity.NetworkRequestActivity" />
        <!--截屏演示-->
        <activity android:name=".homepage.activity.ScreenCaptureActivity" />
        <!--分页演示-->
        <activity android:name=".homepage.activity.PageRecyclerViewActivity" />

        <service
            android:name=".homepage.service.NotificationService"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000" >
                <action android:name="ns" />
            </intent-filter>
        </service>

    </application>
</manifest>